body{
    padding: 0;
    margin: 0;
    display: flex;
    height: 100vh;
    align-items: end;
}

#flatboy{
    position: absolute;
    width: 240px;
    height: 240px;
    display: block;
    background-image: url('png/Idle\ \(1\).png');
    background-size: cover;
    background-repeat: no-repeat;
}

.stopped {
    animation: idle 1s ease infinite;
}

.jumping{
    animation: jumping 1s ease infinite;
}

.walking{
    animation: walking 1s ease infinite;
}

.grama{
    height: 45vh;
    background-color: green;
}

.terra{
    height: 20vh;
    background-color: rgb(97, 39, 0);   
}

@keyframes idle {
    0%{
        background-image: url('png/Idle\ \(1\).png');
    }
    7%{
        background-image: url('png/Idle\ \(2\).png');
    }
    14%{
        background-image: url('png/Idle\ \(3\).png');
    }
    21%{
        background-image: url('png/Idle\ \(4\).png');
    }
    28%{
        background-image: url('png/Idle\ \(5\).png');
    }
    35%{
        background-image: url('png/Idle\ \(6\).png');
    }
    42%{
        background-image: url('png/Idle\ \(7\).png');
    }
    49%{
        background-image: url('png/Idle\ \(8\).png');
    }
    56%{
        background-image: url('png/Idle\ \(9\).png');
    }
    63%{
        background-image: url('png/Idle\ \(10\).png');
    }
    70%{
        background-image: url('png/Idle\ \(11\).png');
    }
    77%{
        background-image: url('png/Idle\ \(12\).png');
    }
    84%{
        background-image: url('png/Idle\ \(13\).png');
    }
    93%{
        background-image: url('png/Idle\ \(14\).png');
    }
    100%{
        background-image: url('png/Idle\ \(15\).png');
    }
}

@keyframes walking {
    0%{
        background-image: url('png/Walk\ \(1\).png');
    }
    7%{
        background-image: url('png/Walk\ \(2\).png');
    }
    14%{
        background-image: url('png/Walk\ \(3\).png');
    }
    21%{
        background-image: url('png/Walk\ \(4\).png');
    }
    28%{
        background-image: url('png/Walk\ \(5\).png');
    }
    35%{
        background-image: url('png/Walk\ \(6\).png');
    }
    42%{
        background-image: url('png/Walk\ \(7\).png');
    }
    49%{
        background-image: url('png/Walk\ \(8\).png');
    }
    56%{
        background-image: url('png/Walk\ \(9\).png');
    }
    63%{
        background-image: url('png/Walk\ \(10\).png');
    }
    70%{
        background-image: url('png/Walk\ \(11\).png');
    }
    77%{
        background-image: url('png/Walk\ \(12\).png');
    }
    84%{
        background-image: url('png/Walk\ \(13\).png');
    }
    93%{
        background-image: url('png/Walk\ \(14\).png');
    }
    100%{
        background-image: url('png/Walk\ \(15\).png');
    }
}

@keyframes jumping {
    0%{
        background-image: url('png/Jump\ \(1\).png');
        margin-bottom: 0;
    }
    7%{
        background-image: url('png/Jump\ \(2\).png');
        margin-bottom: 3px;
    }
    14%{
        background-image: url('png/Jump\ \(3\).png');
        margin-bottom: 6px;
    }
    21%{
        background-image: url('png/Jump\ \(4\).png');
        margin-bottom: 9px;
    }
    28%{
        background-image: url('png/Jump\ \(5\).png');
        margin-bottom: 12px;
    }
    35%{
        background-image: url('png/Jump\ \(6\).png');
        margin-bottom: 15px;
    }
    42%{
        background-image: url('png/Jump\ \(7\).png');
        margin-bottom: 18px;
    }
    49%{
        background-image: url('png/Jump\ \(8\).png');
        margin-bottom: 21px;
    }
    56%{
        background-image: url('png/Jump\ \(9\).png');
        margin-bottom: 21px;
    }
    63%{
        background-image: url('png/Jump\ \(10\).png');
        margin-bottom: 18px;
    }
    70%{
        background-image: url('png/Jump\ \(11\).png');
        margin-bottom: 15px;
    }
    77%{
        background-image: url('png/Jump\ \(12\).png');
        margin-bottom: 12px;
    }
    84%{
        background-image: url('png/Jump\ \(13\).png');
        margin-bottom: 9px;
    }
    93%{
        background-image: url('png/Jump\ \(14\).png');
        margin-bottom: 6px;
    }
    100%{
        background-image: url('png/Jump\ \(15\).png');
        margin-bottom: 3px;
    }
}

@keyframes running {
    0%{
        background-image: url('png/Run\ \(1\).png');
        margin-bottom: 0;
    }
    7%{
        background-image: url('png/Run\ \(2\).png');
        margin-bottom: 3px;
    }
    14%{
        background-image: url('png/Run\ \(3\).png');
        margin-bottom: 6px;
    }
    21%{
        background-image: url('png/Run\ \(4\).png');
        margin-bottom: 9px;
    }
    28%{
        background-image: url('png/Run\ \(5\).png');
        margin-bottom: 12px;
    }
    35%{
        background-image: url('png/Run\ \(6\).png');
        margin-bottom: 15px;
    }
    42%{
        background-image: url('png/Run\ \(7\).png');
        margin-bottom: 18px;
    }
    49%{
        background-image: url('png/Run\ \(8\).png');
        margin-bottom: 21px;
    }
    56%{
        background-image: url('png/Run\ \(9\).png');
        margin-bottom: 21px;
    }
    63%{
        background-image: url('png/Run\ \(10\).png');
        margin-bottom: 18px;
    }
    70%{
        background-image: url('png/Run\ \(11\).png');
        margin-bottom: 15px;
    }
    77%{
        background-image: url('png/Run\ \(12\).png');
        margin-bottom: 12px;
    }
    84%{
        background-image: url('png/Run\ \(13\).png');
        margin-bottom: 9px;
    }
    93%{
        background-image: url('png/Run\ \(14\).png');
        margin-bottom: 6px;
    }
    100%{
        background-image: url('png/Run\ \(15\).png');
        margin-bottom: 3px;
    }
}